body,html{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height:100%;
    width:100%;
}

body,html,div,table,tr,td,span,header,section{
	margin:0;
	padding:0;
	/* see http://stackoverflow.com/questions/5210481/disable-orange-outline-highlight-on-focus */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

header{
	display:block;
	overflow:hidden;
}

table{
	border-collapse:collapse;
}

html{
	background:black url('../images/stars-background.gif');
	font-family:arial,sans-serif;
	color:white;
	font-size:100%;
}

ul{
	list-style:none;
	margin:0;
	padding:0;
}


a, a:visited, button, .button{
	text-decoration:none;
	color:white;
	outline: solid darkslategray 1px;
	border:none transparent 0px;
	padding:0.5em 0;
	text-align:center;
	margin-top:0.5em;
	cursor:pointer;
	line-height:2em;
	font-size:100%;
	background:rgb(0, 108, 109);
	background-color:rgb(0, 108, 109);
	appearance: none;
	float:left;
	width:57%;
}

.half-width{
	width:50%;
}
.credits a{
	outline:none transparent 0px;
	width:auto;
	float:none;
}

@media (max-width: 400px)  {
	a,button{
		font-size:90%;
		width:100%;
	}
}

.full-width{
	display:block;
	width:100%;
}

a:hover, button:hover, .quadrants td:hover, #shortrangescan td:hover, #quadrantscan td:hover, .progress-indicator:hover{
	text-decoration:none;
}

a:hover, #shortrangescan td:hover, .quadrants td:hover, button:hover{
	background-color:rgb(50, 158, 159);	
}

.requires-sector-selected,.requires-nearby-starbase,.requires-enterprise-damaged{
	display:none;
}

.enterprise-damaged .requires-enterprise-damaged{
	display:block;
}

.visible-anywhere-but-on-computer{
	display:block;
}

.screen-computer .visible-anywhere-but-on-computer{
	display:none;
}

.screen-computer.sector-selected .visible-anywhere-but-on-computer{
	display:block;
}

.starbase-nearby .requires-nearby-starbase{
	display:block;
}

.sector-selected .hide-when-sector-selected{
	display:none;
}

.sector-selected .requires-sector-selected{
	display:inline;
}

table a, table a:visited{
	padding:0;
	margin:0;
	border:none transparent 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#stardate{
	position:absolute;
	top:2em;
	right:0;
	color:deepskyblue;
	font-size:80%;
	display:none; /* until I figure out where to show it */
}

/*
 * Long range scan
 */
.region-names{
	background-color:#111111;
	color:white;
	text-align: center;
	font-size:0.8em;
}

.region-names td{
	line-height:2em;
}

.quadrants td{
	border-right:solid DarkViolet 1px;	
	padding:4px 10px 4px 10px;
	cursor:pointer;	
	color:#636363;
	text-align:center;
}

.quadrants td.explored{
	color:white;
}

.has-starship{
	outline: solid darkturquoise 2px;
}

.has-starbase{
	background-color:blue;
}

.has-klingons{
	background-color:maroon;
}

.cloaked{
	color:transparent;
}

.needs-klingon{
	display:none;
}

.has-klingon .needs-klingon{
	display:block;
}

.klingon-scan{
	width:100%;
}

.klingon-scan td{
	padding-right:3em;
}

.has-starbase.has-klingons{
  background: repeating-linear-gradient(
  to right,
  maroon,
  maroon 5px,
  midnightblue 5px,
  midnightblue 10px
);
}

#quadrantscan td{
	border:solid gray 1px;
	height:1em;
	text-align:center;
	width:12.5%;
	padding:0.1em;
	cursor:pointer;
	line-height:0.5em;
}

#quadrantscan td.star{
	font-size:250%;
	color:grey;
	height:0;
}


#quadrantscan{
	float:left;
	width:100%;
}

.selected{
	background-color:midnightblue;
}

.damage-light{
	color:yellow !important;
}

.damage-medium{
	color:orange !important;
}

.damage-bad{
	color:red !important;
}

/**
 * Short range scan
 */
.short-range-scan-container{
	overflow:hidden;
	float:left;
	margin-right:0.5em;
	background-color:rgba(10,10,10,0.5);
	width:20em;
}

#shortrangescan td{
	width:33.3%;
	text-align:center;
	cursor:pointer;
	padding:5px 0 5px 0;
}

#shortrangescan{
	min-width:150px;
	margin-bottom:5em; /* otherwise some buttons from command bar wrap under SRS*/
}

/*
 * Computer
 */
 
#sectorselectionbar{
	padding:0;
	margin-top:2em; /* margin is necessary because of positioning to clicked cell*/
	position:absolute;
	background-color:rgba(0,0,0,0.5);
	outline:solid grey 1px;
	width:100%;
}

#sectorselectionbar a,#sectorselectionbar button{
	padding-left:0.5em;
	padding-right:0.5em;
	width:50%;
}

.screen{
	display:none;
	overflow:hidden;
}

.statusReport #statusreport{
	display:block;
}

.showLongRangeScan #longrangescanscreen{
	display:block;
}

#longrangescan{
	width:100%;
}

.computer #computerscreen{
	display:block;
}

/*
 * Intro screen
 */

.screen-intro #screen-intro{
	display:block;
	font-family:monospace;
}

#screen-intro .logo{
	font-size:100%;
	font-weight:bold;
}

#commandbar > a, #commandbar > button{
	width:100%;
}

/*
@media (max-width: 500px)  {
	#screen-intro .logo{
		font-size:70%;
	}	
	#commandbar{
		float:left;
	}
}
*/
@media (max-width: 800px)  {
	#screen-intro .logo{
		font-size:60%;
	}
	#commandbar, #sectorselectionbar a,#sectorselectionbar button{
		width:100%;
	}
	#shortrangescan, .short-range-scan-container{
		width:100%;
		margin-bottom:0;	
	}
}


.intro-container{
	margin-bottom:1em;
}

.start-game-button{
	display:block;
	background-color:rgb(0, 108, 109);
	animation: pulse 2s infinite;
	line-height:2.5em;
	font-size:100%;
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 108, 109,0.3);
    outline:solid transparent 1px;
  }
  50% {
    background-color: rgb(0, 108, 109);
    outline:solid turquoise 1px;
  }
  100% {
    background-color: rgba(0, 108, 109,0.3);
    outline:solid transparent 1px;
  }
}

.credits{
	clear:both;
	overflow:hidden;
	background-color: rgba(0,0,0,0.7);
	padding-left:0.5em;
}

.credits a{
	border:none transparent 0px;
	background-color:transparent;
	text-decoration:underline;
}

/*
 * Status report
 */
 
#screen-statusreport dl{
	overflow:hidden;
}

#screen-statusreport dt{
	clear:left;
	float:left;
	width:20%;
	padding:5px;
	font-weight:bold;
}

#screen-statusreport dd{
	float:left;
	padding:5px;
	color:turquoise;
}

#messages{
	position:absolute;
	left:0;
	right:0;
	background-color:black;
	color:white;
	font-family:courier, courier new, typewriter;
	padding:10px;
	display:none;
	z-index:100;
	display:none;
	border:solid grey 1px;
}

#messages ol{
	margin:0;
	padding:0 0 1em 0;
}

#messages .entry:not(:last-child) {
	border-bottom:solid grey 1px;
	padding-bottom:0.5em;
	margin-bottom:0.5em;
}

.entry.damage,.damaged{
	color:orange;
}

.entry.gameover{
	color:red;
	font-size:120%;
}

a.single{
	display:block;
}

.glasspanel{
	position:absolute;
	z-index:1;
	width:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:black;
	opacity:0.75;
	display:none;
}

.messages-visible #messages, .messages-visible .glasspanel{
	display:block !important;
}

.messages .content{
	margin-bottom:1em;
}

#downmarker{
	margin-top:100%;
}

#topmarker{
}

.progress-bar{
	float:left;
	overflow:hidden;
	position:relative;
}

a.progress-bar {
	padding:0 !important;
}

.progress-indicator{
	height:100%;
	position:absolute;
	background-color:darkturquoise;
	display:block;
}

.critical .progress-indicator{
	background-color:red;
}

.progress-text{
	position:relative;
	padding:0.5em;
	display:block;
}

.max-indicator{
	background-color:midnightblue;
	position:absolute;
	height:100%;
	display:block;
}

.page-computer .starbase-nearby{
	display:block !important;
}

.starbase-nearby .hide-when-starbase-nearby{
	display:none;
}

/**
 * Commands visibility
 */
 
.fireAtWill .highlight-when-fireatwill{
	background-color:darkturquoise;
}

#toggleShields{
	padding:0;
}

.red-alert, .red-alert *{
	color:red;
	font-weight:bold;
}

#enterprise-schematics{
	font-size:1em;
	height:17em;
	position:relative;
	background-color:rgba(0,0,0,0.7);
}

@media (max-width: 400px)  {
	#enterprise-schematics{
		font-size:0.9em;
	}	
}

.schematics, .overlay{
	white-space: pre;
	font-family: monospace;
	top:0;
}

.overlay{
	position:absolute;
	cursor:pointer;
}

.overlay.base{
	z-index: 0;
	position:fixed;
}

.overlay{
	z-index:1;
}

.overlay.impulse{
	z-index:2;
}

.overlay.ok{
	color:turquoise;	
}

.overlay.damaged{
	color:orange;
}

.overlay.offline{
	color:red;
}

.legend #what,.legend #status{
	float:left;
	width:10em;
}

#screen-manual{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.left-container{
	display:block;
	overflow:hidden;
	width:40%;
	text-align:center;
}

.status-icons{
	float:right;
	display:block;
	overflow:hidden;
	font-size:0.8em;
	z-index:1;
	position:relative;
}

.status-icons span{
	display:block;
	outline:solid grey 1px;
	float:left;
	margin:0.1em;
	padding:0.5em;
	background-color:rgba(10,10,10,0.5);
}

.manual{
	height:100%;
	position:absolute;
	margin:0;
	padding:0;
	border:none;
	width:100%;
	bottom:0;
	top:3.5em;
	left:0;
	right:0;
	background-color:white;
}

.hidden{
	display:none;
}

.status-online{
	color:green;
}

.status-offline{
	color:red;
}

