<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>

	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType text/cache-manifest</param-name>
			<param-value>access plus 1 seconds</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 3 months</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/html</param-name>
			<param-value>access plus 3 months</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 3 months</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>superstartrek.AccessFilter</filter-class>
	</filter>

<!-- 
	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/files/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>