body,html,div,table,tr,td{
	margin:0;
	padding:0;
}

table{
	border-collapse:collapse;
}

html{
	background-color:black;
	font-family:arial,helvetica,sans-serif;
	color:white;
}

a, a:visited{
	text-decoration:none;
	color:white;
	border:solid purple 1px;
	padding:0.5em;
	text-align:center;
	margin-top:0.5em;
}

a:hover{
	text-decoration:none;
}

table a, table a:visited{
	padding:0;
	margin:0;
	border:none transparent 0px;
}

#stardate{
	position:absolute;
	top:2em;
	right:0;
	color:deepskyblue;
	font-size:80%;
}

/*
 * Long range scan
 */
.region-names{
	background-color:BlueViolet;
	color:black;
	text-align: center;
}

.region-names td{
	padding:5px;
}

.quadrants{
	background-color:purple;
}

.quadrants td{
	border-right:solid silver 1px;	
	padding:4px 10px 4px 10px;
}

.quadrants a, .quadrants a:visited{
	width:100%;
	overflow:hidden;
}

.has-starship{
	background-color:darkgreen;
}

#quadrantscan td{
	border:solid gray 1px;
	height:1em;
	text-align:center;
	width:12.5%;
}

#quadrantscan a{
	display:block;
	padding:5px;
}

#quadrantscan{
	float:left;
}

.selected{
	background-color:maroon;
}

.damage-light{
	color:yellow !important;
}

.damage-medium{
	color:orange !important;
}

.damage-bad{
	color:red !important;
}

/**
 * Short range scan
 */
 
#shortrangescan td{
	width:33.3%;
	text-align:center;
}

#shortrangescan a{
	display:block;
}

#shortrangescan{
	min-width:150px;
}

.orientation-vertical #shortrangescan{
	width:100%;
	clear:left;
}

/*
 * Computer
 */
 
#commandbar a{
	display:none;
	padding:10px;
	float:left;
}


.screen{
	display:none;
	overflow:hidden;
}

.status-report #statusreport{
	display:block;
}

.long-range-scan #longrangescanscreen{
	display:block;
}

.short-range-scan #shortrangescanscreen{
	display:block;
}

.computer #computerscreen{
	display:block;
}

/*
 * Status report
 */
 
#statusreport dl{
	overflow:hidden;
}

#statusreport dt{
	clear:left;
	float:left;
	width:20%;
	padding:5px;
	font-weight:bold;
}

#statusreport dd{
	float:left;
}

#messages{
	position:absolute;
	left:0;
	right:0;
	background-color:black;
	border:solid purple 2px;
	color:white;
	font-family:courier, courier new, typewriter;
	padding:10px;
	display:none;
	z-index:2;
	display:none;
}

a.single{
	display:block;
}

.glasspanel{
	position:absolute;
	z-index:1;
	width:100%;
	height:200%;
	top:0;
	left:0;
	background-color:black;
	opacity:0.5;
	display:none;
}

.messages-visible #messages, .messages-visible .glasspanel{
	display:block !important;
}

.messages .content{
	margin-bottom:1em;
}

#downmarker{
	margin-top:100%;
}

#topmarker{
}

.progress-bar{
	float:left;
	overflow:hidden;
	position:relative;
}

.progress-bar a{
	position:relative;
}

.progress-indicator{
	height:100%;
	position:absolute;
	margin-top:0.5em
}

#max_shield_indicator{
	background-color:midnightblue;
}

#shield_indicator{
	background-color:mediumvioletred;
}

/**
 * New stuff
 */
 
.page-computer #computerscreen, .page-sector #computerscreen, .page-status #statusreport, .page-phasers #computerscreen, .page-starbase #computerscreen{
	display:block;
}

.page-computer #cmd_status, .page-computer #cmd_status, .page-computer #cmd_longrangescan, .page-computer #cmd_shields{
	display:block;
}

.page-sector #cmd_phasers, .page-sector #cmd_torpedos, .page-sector #cmd_cancel,.page-sector #cmd_navigate{
	display:block;
}

.page-phasers #cmd_phasers_100, .page-phasers #cmd_phasers_200, .page-phasers #cmd_phasers_300, .page-phasers #cmd_cancel{
	display:block;
}

.page-long-range-scan #longrangescanscreen, .page-long-range-scan #cmd_cancel{
	display:block;
}

.page-status #cmd_cancel{
	display:block;
}

.page-starbase #cmd_starbase_refuel, .page-starbase #cmd_starbase_complete, .page-starbase #cmd_cancel{
	display:block;
}

.page-computer .starbase-nearby{
	display:block !important;
}
/*
cmd_navigate
cmd_shields
cmd_status
cmd_longrangescan
cmd_phasers
cmd_torpedos
cmd_phasers_100
cmd_phasers_200
cmd_phasers_300
cmd_starbase_dock
cmd_starbase_refuel
cmd_starbase_complete
cmd_cancel
*/