body,html,div,table,tr,td{
	margin:0;
	padding:0;
}

table{
	border-collapse:collapse;
	width:100%;
}

html{
	background-color:black;
	font-family:arial,helvetica,sans-serif;
	color:white;
}

a, a:visited{
	text-decoration:none;
	color:white;
}

a:hover, a:active{
	background-color:purple;
}

/*
 * Long range scan
 */
.region-names{
	background-color:BlueViolet;
	color:black;
	text-align: center;
}

.region-names td{
	padding:5px;
}

.quadrants{
	background-color:purple;
}


.quadrants a, .quadrants a:visited{
	width:100%;
	padding:4px 10px 4px 10px;
	display:block;
	overflow:hidden;
}

.has-starship{
	background-color:darkgreen;
}

/*
 * Short range scan
 */
 
#shortrangescan td{
	border:solid gray 1px;
	width:10%;
	height:1em;
	text-align:center;
}

#shortrangescan a{
	display:block;
	padding:5px;
}

.selected{
	background-color:maroon;
}

.damage-light{
	color:yellow !important;
}

.damage-medium{
	color:orange !important;
}

.damage-bad{
	color:red !important;
}

/*
 * Computer
 */
 
 .command-bar{
 }
 
.command{
	display:none;
	padding:10px;
	float:left;
}

.top-selection .top-command, .sector-selection .field-command, .phaser-selection .phaser-command, .shields-selection .shields-command, .display-status #statusbar{
	display:block;
}

.screen{
	display:none;
	overflow:hidden;
}

.status-report #statusreport{
	display:block;
}

.long-range-scan #longrangescanscreen{
	display:block;
}

.computer #computerscreen{
	display:block;
}

/*
 * Status report
 */
 
#statusreport dl{
	overflow:hidden;
}

#statusreport dt{
	clear:left;
	float:left;
	width:20%;
	padding:5px;
	font-weight:bold;
}

#statusreport dd{
	float:left;
}

.messages{
	position:absolute;
	background-color:darkblue;
	color:white;
	font-family:courier, courier new, typewriter;
	clear:both;
	padding:10px;
	display:none;
	z-index:2;
	display:none;
}

.glasspanel{
	position:absolute;
	z-index:1;
	width:100%;
	height:200%;
	top:0;
	left:0;
	background-color:black;
	opacity:0.5;
	display:none;
}

.messages-visible .messages,.messages-visible .glasspanel{
	display:block !important;
}

.messages #content{
	margin-bottom:1em;
}

.messages button{
	width:100%;
}

#downmarker{
	margin-top:100%;
}

#topmarker{
}