body,html,div,table,tr,td{
	margin:0;
	padding:0;
	/* see http://stackoverflow.com/questions/5210481/disable-orange-outline-highlight-on-focus */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

table{
	border-collapse:collapse;
}

html{
	background-color:black;
	font-family:arial,helvetica,sans-serif;
	color:white;
}

a, a:visited{
	text-decoration:none;
	color:white;
	border:solid purple 1px;
	padding:0.5em;
	text-align:center;
	margin-top:0.5em;
	cursor:pointer;
}

a:hover, .quadrants td:hover, #shortrangescan td:hover, #quadrantscan td:hover, .progress-indicator:hover{
	text-decoration:none;
}

a:hover, #shortrangescan td:hover, .quadrants td:hover{
	background-color:purple;	
}

table a, table a:visited{
	padding:0;
	margin:0;
	border:none transparent 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#stardate{
	position:absolute;
	top:2em;
	right:0;
	color:deepskyblue;
	font-size:80%;
}

/*
 * Long range scan
 */
.region-names{
	background-color:#220022;
	color:white;
	text-align: center;
}

.region-names td{
	padding:5px;
}

.small-height .region-names{
	display:none;
}

.quadrants td{
	border-right:solid DarkViolet 1px;	
	padding:4px 10px 4px 10px;
	cursor:pointer;	
	color:silver;
	background-color:darkslategray;
}

.quadrants td.explored{
	color:white;
	background-color:transparent;
}

.has-starship{
	background-color:midnightblue !important;
}

.has-starbase{
	background-color:darkturquoise !important;
}

.has-klingons{
	background-color:maroon !important;
}



#quadrantscan td{
	border:solid gray 1px;
	height:1em;
	text-align:center;
	width:12.5%;
	padding:5px;
	cursor:pointer;
}


#quadrantscan{
	float:left;
	margin-top:0.5em;
}

.selected{
	background-color:midnightblue;
}

.damage-light{
	color:yellow !important;
}

.damage-medium{
	color:orange !important;
}

.damage-bad{
	color:red !important;
}

/**
 * Short range scan
 */
.short-range-scan-container{
	overflow:hidden;
	float:left;
}

.short-range-scan-label{
	margin-left:1em;
}

#shortrangescan td{
	width:33.3%;
	text-align:center;
	cursor:pointer;
	padding:5px 0 5px 0;
}

#shortrangescan{
	min-width:150px;
	display:none;
}

.orientation-vertical #shortrangescan{
	width:100%;
	clear:left;
}

/*
 * Computer
 */
 
#commandbar a{
	display:none;
	padding:0.5em;
	float:left;
}


.screen{
	display:none;
	overflow:hidden;
}

.showStatusReport #statusreport{
	display:block;
}

.showLongRangeScan #longrangescanscreen{
	display:block;
}

.computer #computerscreen{
	display:block;
}

/*
 * Status report
 */
 
#statusreport dl{
	overflow:hidden;
}

#statusreport dt{
	clear:left;
	float:left;
	width:20%;
	padding:5px;
	font-weight:bold;
}

#statusreport dd{
	float:left;
}

#messages{
	position:absolute;
	left:0;
	right:0;
	margin-top:1em;
	background-color:black;
	border:solid purple 2px;
	color:white;
	font-family:courier, courier new, typewriter;
	padding:10px;
	display:none;
	z-index:2;
	display:none;
}

a.single{
	display:block;
}

.glasspanel{
	position:absolute;
	z-index:1;
	width:100%;
	height:200%;
	top:0;
	left:0;
	background-color:black;
	opacity:0.75;
	display:none;
}

.messages-visible #messages, .messages-visible .glasspanel{
	display:block !important;
}

.messages .content{
	margin-bottom:1em;
}

#downmarker{
	margin-top:100%;
}

#topmarker{
}

.progress-bar{
	float:left;
	overflow:hidden;
	position:relative;
}

a.progress-bar {
	padding:0 !important;
}

.progress-indicator{
	height:100%;
	position:absolute;
	background-color:mediumvioletred;
	display:block;
}

.progress-text{
	position:relative;
	padding:0.5em;
	display:block;
}

.max-indicator{
	background-color:midnightblue;
	position:absolute;
	height:100%;
	display:block;
}

.page-computer .starbase-nearby{
	display:block !important;
}

/**
 * Commands visibility
 */
 
.page-computer #computerscreen, .page-selectSector #computerscreen, .page-showStatusReport #statusreport, .page-selectPhaserStrength #computerscreen, .page-dockWithStarbase #computerscreen{
	display:block;
}

.page-computer #cmd_showStatusReport, .page-computer #cmd_showStatusReport, .page-computer #cmd_showLongRangeScan, .page-computer #cmd_toggleShields{
	display:block;
}

.page-selectSector #cmd_selectPhaserStrength, .page-selectSector #cmd_fireTorpedos, .page-selectSector #cmd_cancel,.page-selectSector #cmd_navigate{
	display:block;
}

.page-selectPhaserStrength #cmd_firePhasers_100, .page-selectPhaserStrength #cmd_firePhasers_200, .page-selectPhaserStrength #cmd_firePhasers_300, .page-selectPhaserStrength #cmd_cancel{
	display:block;
}

.page-showLongRangeScan #longrangescanscreen, .page-showLongRangeScan #cmd_cancel{
	display:block;
}

.page-showStatusReport #cmd_cancel{
	display:block;
}

.page-dockWithStarbase #cmd_refuelAtStarbase, .page-dockWithStarbase #cmd_repairAtStarbase, .page-dockWithStarbase #cmd_cancel{
	display:block;
}

.page-computer #shortrangescan{
	display:table;
}

